/*==============================================================================

        Color Variables

===============================================================================*/

$red:						#770010;
$alpha-red:					rgba(54, 24, 13, 0.75);
$maroon:					#36180d;
$gold:						#e2d1b5;
$dark-grey:                 #464646;
$grey:						#7d7d7d;
$light-grey:				#d1d2d4;
$lightest-grey:				#e9e9e9;
$white:						#ffffff;
$black:                     #000000;





$font-custom: 'Raleway', serif;
$font-custom-2: 'Domine', serif;
$bold: 700;
$regular: 400;
$button-transition: all .25s ease-in-out;