@charset "UTF-8";
@charset "iso-8859-15";
@import "config";
@import "variables";
@import "bootstrap";


* {
	 -webkit-font-smoothing: antialiased;
}
a {
	color:$grey;
	&:hover {
		text-decoration: none;
	}
}

.row {
	margin:0;
}

body {
	color:$maroon;
}

body, h1, h2, h3, h4, h5, h6, span, p, a {
	font-family:'Raleway', Arial;
}

h1 {
		font-family: 'Domine', 'Times New Roman';
		font-weight:700;
		color:$maroon;
		font-size:32px;
}

/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/ 

#respond {
  margin-top: 40px;
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}


/*
	Global
*/

.no-pad {
	padding:0;
}

.no-margin {
	margin:0;
}



/* Home Carousel */

#homeCarousel {
	.carousel-inner {
		margin:auto;
	}
	
	h2 {
		font-size:58px;
		line-height:65px;
		margin-bottom:0;
		font-weight:bold;
		text-shadow:0px 0px 20px #000000;
		font-family:'Domine',Times New;
	}
	h3 {
		font-size:30px;
		line-height:32px;
		margin:0;
		text-shadow:2px 1px 7px rgba(0, 0, 0, 1);
		font-family:'Raleway'!important;
		
	}
	
	
	.carousel-indicators {
	    left: 25px;
	    margin: auto;
	    width: 100%;
	    display: table;
	    right: auto;
	    max-width: 1200px;
	    text-align: left;
	    
	    li {
		    margin:0 5px;
		    border:0;
		    background:$light-grey;
		    width:15px;
		    height:15px;
		}
		
		
		.active {
		    background:$red;
		    width:15px;
		    height:15px;
		}
	    
	}
	
	
	.carousel-caption {
	    padding:0;
		left:25px;
	    right:0;
	    bottom:50px;
	    width:100%;
	    text-align: left;
	    max-width:1170px;
	    margin:auto;
	    font-family:'Domine',Times New;
	    
	    h4 {
		 	margin:0;    
		    font-family:'Domine',Times New;
		}

	}	
}

#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    width: 100%;
    margin:auto;
    line-height: 1;
    max-height:900px;
    object-fit:cover;
}



/* Mobile Case Closed Carousel */

#mobileCaseCarousel {
	position: relative;
	
	.carousel-inner {
		margin:auto;
		position: relative;
	    width: 100%;
	    overflow: hidden;
	    
	    .item {
		    height:62px;
		    
		    .carousel-caption {
				padding:0;
				left:0;
			    right:0;
			    bottom:0;
			    width:100%;
			    text-align: left;
			    max-width:100%;
			    margin:auto;
			    position:relative;
				
				
			
				h2 {
				    text-align: center;
				    color:$white;
					font-size: 12px;
					line-height: 17px;
					margin:0 auto;
					padding:0 20px;
					text-shadow: none;
					font-family:'Raleway'!important;
				}
				h3 {
					color:$white;
					margin-top:10px;
					font-size:12px;
					padding:0 20px;
					margin:0 auto;
					text-shadow: none;
					text-align: center;
					font-family:'Raleway'!important;
					
					strong {
					    font-size: 24px;
					    line-height: 20px;
						display:table;
						clear:both;
						margin:5px auto;
						padding-bottom:2px;
						font-family:'Domine'!important;
					}
					
				}
			}	

		    
		    
	    }
	}
	
		
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

/* Navigation */


.navbar-default {
	
	margin-bottom:0; 
	
	.top-nav-container {
		padding:15px 0;
		background:$white;
	}
	
	.menu-main-menu-container {
			background:$alpha-red;
			position:absolute;
			width:100%;
			
		.navbar-nav {
			float:none;
			margin:0px;
			width:100%;
			max-width:1170px;
			display: block;
			position: relative;
			margin:auto;
			
			li {
				float:left;
				display: table-cell;
				width:16.6667%;
				text-align: center;
				border-bottom:0;
				transition:.25s all ease-in-out;
	
				
				&:hover {
					background:$red;
					color:$white;
				}
				
				a {
					color:$white;
					font-family: 'Raleway', Arial;
					font-size: 18px;
					padding:23px 0;
					font-weight:400;
					letter-spacing: 1px;
					
					&:hover {
						color:$white;
					}
					
					&:m {
						color:$dark-grey;
					}
				}
				
				//submenu items
				
				.dropdown-menu {
					margin:-1px 0 0;
					padding:0;
					
					li {
						width:100%;
						border-bottom:1px solid $alpha-red;
						
						&:last-child {
							border-bottom:0;
						}
						
						a {
							background:$red;
							color:$white;
							background-image: none;
						    padding: 10px;
						    text-align: left;
						    font-size: 14px;
						    transition:.25s all ease-in-out;
							
							&:hover {
								background:$maroon;
								color:$white;
								background-image:none;
							}
						}
						
						&:hover {
							background:$dark-grey;
							background-image:none;
						}
					}
				}
			}
			
			
			.active {
				a {
					background:$red;
					color:$white;
					
					&:focus, &:hover {
						background:$red;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
			.open {
				a {
					background:$red;
					background-image:none;
					color:$white;
					
					&:focus, &:hover {
						background:$red;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
		}
	}
}

.navbar-default .menu-main-menu-container .navbar-nav .current-page-ancestor a {
	background:$red;
	color:$white;
}

.sticky {
	position:fixed;
	top:0;
	right:0;
	left:0;
	width:100%;
}

/* Global */

.site-logo {
	width:100%;
	max-width:412px;
	display:table;
}

.sub-headline {
	font-size:19px;
}
.pr {
	position:relative;
}
.sh-phone {
	margin:0;
	a {
		color:$red;
		font-family: 'Raleway';
	    font-size: 33px;
	    padding-right:10px;
	    line-height: 44px;
	    text-decoration: none;
	    font-weight: 700;
	    float:left;
	}
}

.header-social {
	width:100%;
	max-width:40px;
	float: right;
}
/* Homepage Service Buttons */

.circle-points {
	margin:50px auto;
	
	
	.homepage-service-button	{
		display: inline-block;
	    margin: 0px auto;
	    width:20%;
	    height: 230px;
	    text-align: center;
	    font-size: 20px;
	    line-height: 25px;
	    font-family: 'Domine', 'Times New Roman';
	    font-weight: 700;
	    color: #36180d;
	    text-decoration: none;
	    cursor: pointer;
	    
	    a {
		   	font-size: 20px;
		    line-height: 25px;
		    font-family: 'Domine', 'Times New Roman';
		    font-weight: 700;
		    color: #36180d;
		    cursor: pointer;
		    
		    &:hover, &:focus, &:active {		    
			    color: #36180d;
		    }
		    
		    	&:hover #homepage-service-circle-work {
			    	background-position: 10px -80px!important;
					background-color: #36180d!important;
				}
				
				&:hover #homepage-service-circle-ss {
			    	background-position: -100px -89px!important;
					background-color: #36180d!important;
				}


				&:hover #homepage-service-circle-personal {
					background-position: -200px -89px!important;
					background-color: #36180d!important;
				}


				&:hover #homepage-service-circle-auto {
			    	background-position: -400px -80px!important;
					background-color: #36180d!important;
				}


				&:hover #homepage-service-circle-negligence {
		    		background-position: -295px -85px!important;
					background-color: #36180d!important;
				}

				
				&:hover .homepage-service-circle {
				    background-color: #36180d;
				    border-color: #e2d1b5;
				}
	    }
	    
	    .homepage-service-circle {
		        margin: 0px auto;
			    display: inline-block;
			    width: 150px!important;
			    height: 150px!important;
			    -moz-border-radius: 74px;
			    -webkit-border-radius: 74px;
			    border-radius: 74px;
			    overflow:hidden;
			    border: 20px solid #36180d;
			    background-repeat: no-repeat;
			    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
			    margin-bottom: 20px;
			    cursor: pointer;
			    -webkit-transition: all 300ms ease-in-out;
			    -moz-transition: all 300ms ease-in-out;
			    -ms-transition: all 300ms ease-in-out;
			    -o-transition: all 300ms ease-in-out;
			    transition: all 300ms ease-in-out;
			    
			    &:hover {
				    border-color: #e2d1b5;
			    }
			    

	    }
		
	}
	
	#homepage-service-circle-work, #homepage-service-circle-ss, #homepage-service-circle-personal, #homepage-service-circle-auto, #homepage-service-circle-negligence {
			    background: url(../images/sprites.png)#e2d1b5 no-repeat!important;
			    transition:.25s all ease-in-out;
			}
	
	
	#homepage-service-circle-work {
    	background-position: 10px 20px!important;
		width: 110px;
		height: 110px;
    	
		&:hover {
	    	background-position: 10px -80px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-ss {
	    	background-position: -100px 11px!important;
			width: 110px;
			height: 110px;
		&:hover {
	    	background-position: -100px -89px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-personal {
	    background-position: -200px 11px!important;
		width: 110px;
		height: 110px;
    	
		&:hover {
			background-position: -200px -89px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-auto {
	   	background-position: -400px 20px!important;
		width: 110px;
		height: 110px;
    	
		&:hover {
	    	background-position: -400px -80px!important;
			background-color: #36180d!important;
		}
	}
	
	
	#homepage-service-circle-negligence {
	    background-position: -295px 15px!important;
		width: 110px;
		height: 110px;
    	
		&:hover {
	    		background-position: -295px -85px!important;
				background-color: #36180d!important;
		}
	}
	
}

.if-you {
	span {
		font-size:30px;
		line-height:38px;
		padding:50px 0;
		display:table;
	}
	
	a {
		color:$red;
		font-weight:bold;
	}
}

.awards-honors {
	
	h2 {
		font-family: 'Domine',Times New;
		font-weight:bold;
		text-align: center;
		margin-bottom:15px;
		z-index: 1;
		overflow: hidden;
		position: relative;
		
	}
	
	h2:before, h2:after {
	    position: absolute;
	    top: 51%;
	    overflow: hidden;
	    width: 45%;
	    height: 1px;
	    content: '\a0';
	    background-color: $maroon;
	}
	h2:before {
	    margin-left: -48%;
	    text-align: right;
	}
	
	h2:after {
		margin-left: 2%;
		text-align: left;
	}

	ul {
		list-style: none;
		margin:auto;
		display: table;
		padding:0;
		margin:0 auto;
		width:100%;
		max-width:600px;
		
		li {
			float:left;
			margin:0 1.5%;
			width:30%;
			img {
				width:100%;
				display: block;
			}
		}
		

	}
	
	p {
		font-size:21px;
		line-height:26px;
		padding:50px 0;
		color:$maroon;
		display:table;
	}
}


.content-p {
		font-size:20px;
		line-height:26px;
}

/* Consultation Form */

.consultation-form {
	position:absolute;
	top:100px;
	background:$maroon;
	right:0px;
	max-width:315px;
	height:100%;
	max-height:658px;
	
	#title-bar {
		color:$white;
		text-align: center;
		background:$red;
		font-size: 26px;
		line-height: 28px;
		padding:10px 0;
		font-family:'Domine', 'Times New Roman';
		display:block;
		width:100%;
		max-width:276px;
		margin-top:-35px;
	}
	
	.form-control {
		height: 45px;
	    line-height: 45px;
	    padding-left: 10px;
	    color:$dark-grey;
	    margin:10px auto;
	    width: 275px;
	    color: #bb7f87;
	    font-family: 'Raleway', Arial;
	    font-size: 18px;
	    font-weight: 400;
	    transition:.25s all ease-in-out;
	}
	
	.radio-select {
		padding:15px 0;
	}
	
	#consultation-name {
		margin-top:25px;
	}
	
	#consultation-case {
		font-family: 'Raleway', Arial;
	    height: 190px;
	    color: #bb7f87;
	    font-size: 18px;
	    line-height: 24px;
	    padding: 10px;
	    width: 277px;
	    font-weight: 400;
	    resize: none;
	}
	
	#consultation-office {
		color:$white;
		
		.wpcf7-list-item {
			display:table;
			clear:both;
			padding:0;
			margin:0;
			
			label {
				width:100%;
				font-weight: normal;
				font-size:16px;
				font-family:'Domine',Times New;
				padding-left:15px;
			}
		}
		

	}
	
	.wpcf7-submit {
		background:$red;
		color:$white;
		width:100%;
		border:$maroon;
		font-size:18px;
		font-weight:bold;
		font-family:'Domine',Times New;
		border-radius:0;
		margin:10px 0;
	}
	
	.wpcf7-not-valid {
		background:#bb7f87;
		color:$maroon;
	}
			
	.wpcf7-not-valid::-webkit-input-placeholder {
		color: $white;
	}
	.wpcf7-not-valid::-moz-placeholder {
		color: $white;
	}
	.wpcf7-not-valid:-moz-placeholder {   /* Older versions of Firefox */
		color: $white;
	}
	.wpcf7-not-valid:-ms-input-placeholder { 
		color: $white;
	}
	
	.wpcf7-response-output {
		display:none!important;
	}
	
	
	span.wpcf7-not-valid-tip {
		position: absolute;
	    color: white;
	    font-size: 10px;
		display:none;
	    width: 100%;
	}
	
	em {
		color:$red;
		font-style: normal;
		font-size:11px;
		line-height:12px;
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	    color: #bb7f87;
	}
	::-moz-placeholder { /* Firefox 19+ */
	    color: #bb7f87;
	}
	:-ms-input-placeholder { /* IE 10+ */
	    color: #bb7f87;
	}
	:-moz-placeholder { /* Firefox 18- */
	    color: #bb7f87;
	}
}

.case-closed-home {
	background:$red;
	color:$white;
	position:relative;
	margin-bottom:35px;
	padding-bottom:60px;
	
	.cch-block {
		text-align: center;
		h3 {
			font-size:18px;	
					
			strong {
				font-size:44px;
				font-family:'Domine',Times New;
			}
			
		}
		
		.brt {
			border-right:1px solid #ffffff;
			padding: 0 20px;
		}
		
		.nbrt {
			padding:0 20px;
		}
	}
	
	.view-more-cases {
		width:100%;
		display:table;
		position:absolute;
		margin-top:25px;
		
		a {
			color:$white;
			background:$maroon;
			font-family:'Domine',Times New;
			display:table;
			margin:auto;
			padding:15px 20px;
			font-size:22px;
		}
	}
}

.type-claims {
	h2 {
		color:$red;
		text-align: center;
		font-size:38px;
		line-height:40px;
		font-family:'Domine',Times New;
	}
}

.homepage-team {
	img {
		width:100%;
	}
}

.three-reasons-container {
	
	position:relative;
	margin-top:-195px;
	
	img {
		width:100%;
	}
	.three-reasons-banner {
		background:$red;
		color:$white;
		display:table;
		width:auto;
		padding:10px 20px;
		position:relative;
		top:20px;
		margin:auto;
		font-size:40px;
		font-family:'Domine',Times New;
	}
	
	.three-reasons {
		
		background:rgba(255, 255, 255, 0.9);
		height:120px;
		padding-top:35px;
		
		.reason {
			    width:31%;
				border-bottom:10px solid $red;
				padding:0 0 22px;
				margin:0 1.75%;
				text-align: center;
				
				&:first-child {
					margin-left:0;
				}
				
				&:last-child {
					margin-right:0;
				}
			a {
				color:$red;
				text-align: center;
			    font-size: 20px;
			    line-height: 25px;
			    padding:15px 0;
		    }
		}
	}
}


/* Testimonials Page */

.test-box {
	border-bottom:1px solid $red; 
	padding-bottom:25px; 
	margin-bottom:25px;
	
	h2 {
		font-family: 'Domine', 'Times New Roman';
	    font-size: 38px;
	    line-height: 40px;
	    font-weight: 400;
	    color: $red;
	}
	
	p {
		font-family: 'Raleway', Arial;
	    font-size: 21px;
	    line-height: 26px;
	    font-weight: 400;
	    color: #36180d;
	}
	
	&:last-child {
		border-bottom:0!important;
	}


}

/* Practice Areas */

.practice-start-box {
	div {
		border-top:1px solid $maroon;
		padding-bottom:0;
		margin-bottom:25px;
		margin-top:25px;
	}
	
	.practice-contact {
		font-family: 'Domine', 'Times New Roman';
	    font-size: 38px;
	    line-height: 40px;
	    font-weight: 400;
	    color: $red;
	}
	
	.practice-p {
		font-size:20px;
		padding-bottom:0;
		margin-bottom:0;
	}
	
	a {
	    font-weight: bold;
		color: $red;
		text-decoration: none;
	}
}

.practice-start {
	a {
	    font-weight: bold;
		color: $red;
		text-decoration: none;
		
	}
}


/* Legal Team Page */

	.team-box {
		margin:25px 0; 
		img {
			display:block;
			width:100%;
		}
		
		h2 {
			margin-top: 0;
		    color: $red;
		    font-family: 'Domine', 'Times New Roman';
		    font-size: 32px;
		    line-height: 32px;
		    font-weight: 700;
		    margin-bottom: 0px;
	    }
	    
	    h3 {
	        font-family: 'Domine', 'Times New Roman';
	        font-size:21px;
	        line-height:26px;
	        font-weight: bold;
	        color:$maroon;
	        margin:0;
	        
	       a {
				font-family: 'Raleway', Arial;	        
				font-size: 16px;
			    line-height: 20px;
			    text-decoration: none;
			    color: $red;
			    outline: 0;
			    font-weight:400;
			}

	    }
	    
	    a {
		    	font-family: 'Raleway', Arial;	        
				font-size: 16px;
			    line-height: 20px;
			    text-decoration: none;
			    color: $red;
			    outline: 0;
			    font-weight:400;
			    
			    &:hover, &:focus, &:active {
				    color:$red;
			    }
	    }
	    
	    p {
		    font-size:18px;
		    padding:15px 0;
	    }



    }
    
    .teamNameMobile {
	    font-size:18px;
	    margin:0;
	    padding-top:5px;
	    color:$red;
		font-family: 'Domine', 'Times New Roman';
		font-weight:700;
    }
    
    .teamTitleMobile {
	    font-size:13px;
	    margin:0;
	    color:$maroon;
	    padding-top:10px;
	    font-weight:700;
		font-family: 'Domine', 'Times New Roman';
    }
    
    .teamEmailMobile, .teamTelephoneMobile {
	    margin:0;
	    font-size:14px;
	    a {
		    font-size:14px;
		    margin:0;
		    color:$red;
		    padding:5px 0;
		    font-weight:400;
			font-family: 'Raleway', 'Times New Roman';
			display:block;
	    }
    }
    
/* Cases Closed */

	.case-box {
		border-bottom:1px solid $red; 
		padding-bottom:25px; 
		margin-bottom:25px;
		
		
		 h2 {
			font-family: 'Domine', 'Times New Roman';
		    font-size: 32px;
		    line-height: 32px;
		    font-weight: 700;
		    margin-bottom: 0px;
		    color:$maroon;
		    
		    strong {
			 color: $red;
			}

		}
		
		h3 {
			font-family: 'Domine', 'Times New Roman';
		    font-size: 22px;
		    line-height: 25px;
		    font-weight: 700;
		    margin-top: 0px;
		    padding-top: 20px;
		    color:$maroon;
		    margin-bottom: 20px;
		}
		
		p {
			font-size:20px;
			font-family: 'Raleway', 'Times New Roman';
		}
		
		&:last-child {
			border-bottom:0!important;
		}
	}


/* Resources */

.resource-box {
		h2 {
			font-family: 'Domine', 'Times New Roman';
		    font-size: 32px;
		    line-height: 32px;
		    font-weight: 700;
		    margin-bottom: 0px;
		    color:$red;
		    
		    strong {
				color: $red;
			}

		}
		
		h3 {
			font-family: 'Domine', 'Times New Roman';
		    font-size: 22px;
		    line-height: 25px;
		    font-weight: 700;
		    margin-top: 0px;
		    padding-top: 0px;
		    margin-bottom: 0px;
		    
		    a {
				color:$maroon;
				font-family: 'Domine', 'Times New Roman';
			}
		}
		
		p, ul, li {
			font-size:20px;
			color:$maroon;
			font-family: 'Raleway', 'Times New Roman';
			
		}
		
		&:last-child {
			border-bottom:0!important;
		}
	}

/* Community */

.community-box {
		float: left;
	    padding: 20px;
	    background-color: $gold;
	    margin:0 25px 20px 0;
	    width:100%;
	    max-width:341px;
	    min-height: 232px;
	    
	    h2 {
		    font-size: 25px;
		    line-height: 32px;
		    margin: 0px;
		    color: $red;
		    font-weight:bold;
		    font-family: 'Domine', 'Times New Roman';
		}
		
		a {
			color:$maroon;
			font-weight:700;
		}
    }
    
    .no-description {
	    min-height:106px!important;
    }
/* Contact */

.contact-start {
	h2 {
		font-family: 'Domine', 'Times New Roman';
	    font-size: 38px;
	    line-height: 40px;
	    font-weight: 400;
	    color: $red;
	   }
	   
	   h3 {
		   font-family: 'Domine', 'Times New Roman';
		    font-size: 18px;
		    line-height: 25px;
		    font-weight: 700;
	   }
	   
	   
	   h4 {
		   
	   }
	   
	   .red {
		   color:$red;
	   }
	   
	   p {
		    font-family: 'Raleway', Arial;
		    font-size: 21px;
		    line-height: 26px;
		    font-weight: 400;
		    color: $maroon;
	   }
}

/* Footer */

.site-footer {
	background:$maroon;
	color:$white;
	padding:10px 0;
	font-size:12px;
	text-align: center;
	
	a {
		color:$white;
		text-align: center;
	}
	
	em {
		font-style: normal;
		display: table;
		max-width:1170px;
		width:100%;
		margin:auto;
	}
}

.form-control, select{
  	-webkit-border-radius: 0!important;
     -moz-border-radius: 0!important;
     border-radius: 0!important;
     -webkit-appearance: none;
}

.consult-activate {
	position:fixed;
	top:50%;
	margin-top:-100px;
	right:-1500px;
	transition:.35s right ease-in-out;
}

.video-list {
	width:100%;
	max-width:1050px;
	padding-top:25px;
	
	img {
		width:100%;
		max-width:350px;
		display: table;
		margin:auto;
		outline:none;
			-webkit-appearance: none;
		
		&:focus, &:active {
			outline:none;
			-webkit-appearance: none;
		}
	}
}

#accordion {
	margin-bottom:-25px;
}

.panel-default {
	border:none;
	margin-top:25px;
	box-shadow:none;
	border-bottom:1px solid $maroon;
	border-radius:0!important;
	
	&:last-child {
		border-bottom:0;
	}
	
	.panel-heading {
		background:none;
		border:none;
		
		.panel-title {
			font-family: 'Domine', 'Times New Roman'!important;
		    font-size: 30px;
		    line-height: 36px;
		    font-weight: 700;
		    margin-bottom: 0px;
		    color: $maroon;
		    
		    a {
			font-family: 'Domine', 'Times New Roman'!important;
				&:focus, &:active {
					text-decoration: none;
				}
		    }
		}
	}
	
	.panel-collapse {
		.panel-body {
			border-top:0;
			font-family: 'Raleway', Arial;
		    font-size: 21px;
		    line-height: 26px;
		    font-weight: 400;
		    color: $maroon;
			
			&:last-child {
				border-top:0;
			}
		}
	}
}


.modal {
	top:15%;
	

	
	iframe {
		width:100%!important;
	}
	
	.close {
		background: $black;
	    color: $white;
	    opacity: 1;
	    padding: 10px;
	    border-radius: 50px;
	    height: 30px;
	    width: 30px;
	    font-size: 40px;
	    line-height: 0;
	    font-weight: normal;
	    text-indent: 0;
	    text-align: center;
	    padding: 0 0 8px !important;
	    border: 2px solid white;
	    position: absolute;
	    top: -15px;
	    right: -15px;
	    float: none;
	    display: block;
	}
}


.practice-area {
	h2 {
		font-size: 42px;    
		font-family: 'Domine', 'Times New Roman';
	    line-height: normal;
	    font-weight: 400;
	    color: $red;
	    margin:0;
	}
	
	h3 {
		    font-size: 30px;
			line-height: normal;
			 font-family: 'Domine', 'Times New Roman';
			 font-weight: 700;
			 margin:0;
			 margin-bottom:30px;
	}
	
	p {
		font-family: 'Raleway', Arial;
	    font-size: 21px;
	    line-height: 26px;
	    font-weight: 400;
	    color: $maroon;
	}

	
	img {
		width:100%;
	}
	
	
		
	a {
		img {
			display: table;
			margin:30px 0 60px!important;
			cursor: pointer;
	    }
		
	}
}

.back-to-prac {
	border-top:1px solid $maroon;
	display:table!important;
	padding-top:30px!important;
	
	a {
		font-size:18px!important;
		font-weight:normal!important;
		color:$red;
	}
}

.site-sub-footer {
	    width: auto;
    display: block;
    margin: auto;
    float: none;
}

#thank-you-message {
	display:none;
	
	h2, p {
		color:$white;
			 font-family: 'Domine', 'Times New Roman';
			 text-align: center;
			 padding-bottom:10px;
	}
	
}


@media screen and (max-width:1200px) {
	
	
	/* Home Carousel */

		#homeCarousel {
			.carousel-inner {
				margin:auto;
			}
			
			h2 {
				font-size:24px;
				line-height:26px;
				font-weight:bold;
				text-shadow:none;
				font-family:'Domine',Times New;
				color:$maroon;
				
				br {
					display:none;
				}
			}
			h3 {
				font-size:18px;
				line-height:24px;
				text-shadow:none;
				font-family:'Domine',Times New;
				color:$maroon;
				
				br {
					display:none;
					}
			}
			
			
			.carousel-indicators {
			    left: 25px;
			    margin: auto;
			    width: 100%;
			    display: table;
			    right: auto;
			    max-width: 1200px;
			    position:relative;
			    text-align: center;
			    
			    li {
				    margin:0 5px;
				    border:0;
				    background:$light-grey;
				    width:15px;
				    height:15px;
				}
				
				
				.active {
				    background:$red;
				    width:15px;
				    height:15px;
				}
			    
			}
			
			
			.carousel-caption {
				position:relative;
			    padding:0;
				left:0;
			    right:0;
			    bottom:0;
			    width:100%;
			    padding:10px 0;
			    text-align: center;
			    max-width:1170px;
			    margin:auto;
			    display:table;
			    font-family:'Domine',Times New;
			    
			    h4 {
				 	margin:0;    
				    font-family:'Domine',Times New;
				}
		
			}	
		}
		
		#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		    display: block;
		    height: auto;
		    width: 100%;
		    margin:auto;
		    line-height: 1;
		    max-height:900px;
		    object-fit:cover;
		}
		
		
		
		.circle-points {
		margin:50px auto;
	
	
	.homepage-service-button	{
		display: inline-block;
	    margin: 0px auto 10px;
	    width:33%;
	    height: 230px;
	    text-align: center;
	    font-size: 20px;
	    line-height: 25px;
	    font-family: 'Domine', 'Times New Roman';
	    font-weight: 700;
	    color: #36180d;
	    text-decoration: none;
	    cursor: pointer;
	    }
	}



.community-box {
	margin-right:0;
	max-width:100%;
	min-height:auto;
	padding:4%;
}
	
	
	/* Consultation Form */
		.consultation-form {
			display:none;
			position:fixed;
			top:50%;
			margin-top:-300px;
			background:$red;
			right:0;
			left:0;
			max-width:90%;
			z-index:9999;
			height:auto;
			
			#title-bar {
				color:$white;
				text-align: center;
				background:$red;
				font-size: 20px;
				font-weight:bold;
				line-height: 22px;
				padding:20px 0 10px;
				font-family:'Raleway', sans-serif;
				display:table;
				width:90%;
				max-width:90%;
				margin-top:0;
				margin:auto;
				
				br {
					display:none;
				}
			}
			
			.form-control {
				height: 40px;
			    line-height: 40px;
			    padding-left: 10px;
			    color:$dark-grey;
			    margin:10px 0;
			    width: 100%;
			    color: #bb7f87;
			    font-family: 'Raleway', Arial;
			    font-size: 18px;
			    font-weight: 400;
			    transition:.25s all ease-in-out;
			}
			
			#consultation-name {
				margin-top:25px;
			}
			
			#consultation-case {
				font-family: 'Raleway', Arial;
			    height: 170px;
			    color: #bb7f87;
			    font-size: 18px;
			    line-height: 24px;
			    padding: 10px;
			    width: 100%;
			    font-weight: 400;
			}
			
			#consultation-office {
				.wpcf7-list-item {
					display:table;
					clear:none;
					float:left;
					width:50%;
					padding:0;
					margin:0;
					
					label {
						width:100%;
						font-weight:bold;
						font-family:'Domine',Times New;
					}
				}
				
		
			}
			
			.wpcf7-submit {
				background:$maroon;
				color:$white;
				width:100%;
				border:$maroon;
				font-size:18px;
				font-weight:bold;
				font-family:'Domine',Times New;
				border-radius:0;
				margin:10px 0;
				padding:10px 0;
			}
			
			.wpcf7-not-valid {
				background:#bb7f87;
				color:$maroon;
			}
					
			.wpcf7-not-valid::-webkit-input-placeholder {
				color: $white;
			}
			.wpcf7-not-valid::-moz-placeholder {
				color: $white;
			}
			.wpcf7-not-valid:-moz-placeholder {   /* Older versions of Firefox */
				color: $white;
			}
			.wpcf7-not-valid:-ms-input-placeholder { 
				color: $white;
			}
			
			.wpcf7-response-output {
				display:none!important;
			}
			
			
			span.wpcf7-not-valid-tip {
				position: absolute;
			    color: white;
			    font-size: 10px;
				display:none;
			    width: 100%;
			}
			
			em {
				color:$red;
				font-style: normal;
				font-size:11px;
				line-height:12px;
			}
			
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			    color: #bb7f87;
			}
			::-moz-placeholder { /* Firefox 19+ */
			    color: #bb7f87;
			}
			:-ms-input-placeholder { /* IE 10+ */
			    color: #bb7f87;
			}
			:-moz-placeholder { /* Firefox 18- */
			    color: #bb7f87;
			}
		}
		
		.close-consult {
			position:absolute;
			padding:2px 10px;
			top:-10px;
			right:-10px;
			background:$white;
			font-size:20px;
			color:$maroon;
			font-weight: bold;
			border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
			cursor: pointer;
		}
	
	
	.consult-overlay {
		display:none;
		background:$alpha-red;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-height:100%;
		z-index:9998;
	}
	
	
	.consult-activate {
		display:table;
		position:absolute;
		right:0;
		cursor:pointer;
	}
	
	
	#homeCarousel {
		.carousel-indicators {
		    position:relative;
		    width:auto;
		    max-width:none;
		    margin:auto;
		    bottom:0;
		    padding:10px 0;
		    left:0;
		}
	}	
	
	.container {
		width:100%;
	}
	
	.hide-show {
		display:block;
	}
	

		
		
		
		.circle-points {
			.homepage-service-button {
				width:33%;
				font-size:15px;
				
				.homepage-service-circle {
					width:150px;
					height:150px;
					margin-bottom:5px;
				} 

				&:nth-child(4n) {
					width:40%;
					text-align: center;
					margin-left:12.5%;
				}
				
				&:nth-child(5n) {
					width:30%;
					text-align: center;
					margin-right:4.5%;
				}

			}
		}
	
	
	
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
 .show-tablet-portrait {
		 display:block!important;
	 }


 }



@media screen and (max-width:768px) {
	
	/*ipad portrait override*/
	 //override bootstrap to show hamburger on tablet portrait
	 
	
	 
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
    }
	
	.video-list {
		img {
			max-width:180px;
			padding-bottom:25px;
		}
	}
	
	
	.video-list-no-pad {
		padding-top:0;
	}
	
	
	h1 {
		text-align: center;
	}
	

	
	
	/* Navigation */
	.site-logo {
		max-width:300px;
		margin:0 auto;
		display: table;
		padding:0;
	}
	.sub-headline {
		margin:0 auto;
		display: table;
		padding:0;
	}
	
	.case-closed-home {
		.cch-block {
			.brt {
				border-right:0;
			}
		}
	}
	
	.three-reasons-container {
		position:relative;
		margin-top:0;
		
		.three-reasons-banner {
			font-size:18px;
			top:0;
			width:100%;
			text-align: center;
		}
		
		.three-reasons {
			display:table;
			position: relative;
			max-width:288px;
			padding-top:10px;
			height:auto;
			.reason {
				line-height: 13px;
				border-bottom:2px solid $red;
				padding-bottom:5px;
				a {
				font-size:10px;
				line-height:13px;
				}
			}
		}
	}
	.if-you {
		span {
		    font-size: 13px;
		    line-height: 19px;
		    margin-top: 0px;
		    text-align: center;
		}
	}
	
	.type-claims {
		h2 {
			 font-size: 20px;
		    line-height: 25px;
		    width: 90%;
		    margin: auto;
			padding:0;
		}
	}
	
	.mob-phone {
		a {
			color:$white;
			float:left;
			width:auto;
			display:block;
			font-weight:bold;
			font-size:20px;
			padding-left:15px;
			
			&:focus, &:active {
				text-decoration: none;
			}
			
			i {
				color:$gold;
			}
		}
	}

	.navbar {
		margin-bottom:0; 
		border-bottom:0;
		
		.navbar-header {
			background:$maroon;
			margin:0;
			padding:5px 0;
		}
		
		.navbar-toggle {
			padding:0;
			background:none;
			border:0;
			margin:0;
			
			&:hover {
				background:none;
			}
			
			&:focus {
				background:none;
			}
			
			.icon-bar {
				background-color:$gold;
				height:3px;
			    width: 30px;
			    margin: 5px 10px 5px 0px;
				transition: all .2s;
			}
		}
		
		.social-mobile {
			
			background:$gold;
			color:$maroon;
			border-radius:30px;
			position:absolute;
			cursor: pointer;
		    width: 20px;
		    height: 20px;
		    text-align: center;
		    line-height: 20px;
		    font-size: 16px;
		    margin-top:5px;
		}
		
		#social-fb {
			right:75px;
		}
		
		#social-yt {
			right:50px;
		}
		
			
		.navbar-toggle .top-bar {
		    transform: rotate(43deg);
		    transform-origin: 5% 74%;
		    width:28px;
		    height:3px;
		    margin-left:20px;
		}
		
		.navbar-toggle .middle-bar {
		    opacity: 0;
		}
		
		.navbar-toggle .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: 15% 40%;
		    width:28px;
		    height:3px;
		    margin-left:20px;
		}
		
		.navbar-toggle.collapsed .bottom-bar,
		.navbar-toggle.collapsed .top-bar {
		    transform: rotate(0);
		    width:30px;
		    margin-left:0;
		}
		
		.navbar-toggle.collapsed .middle-bar {
		    opacity: 1
		}
		
		
		
		#navbar {
			width:100%;
			max-width:1200px;
			margin:auto;
			padding:0!important;
			
			.menu-main-menu-container {
				#menu-main-menu {
					display:table;
					width:100%;
					margin:0;
					
					li {
						border-bottom: 1px solid $white;
						background:$red;
						display: table;
						width:100%;
						
						&:last-child {
							border-bottom: none;
						}
						
						a {
							font-size:26px;
							font-weight:bold;
							padding:20px 15px;
							color:$gold;
							transition:$button-transition;
							font-family:'Domine';
							text-align: left;
							font-weight:normal;
							
							&:hover {
								background:$maroon;
								color:$gold;
							}
							
							&:after {
								content:"\f105";
								font: normal normal normal 14px/1 FontAwesome;
							    font-size: inherit;
							    text-rendering: auto;
							    -webkit-font-smoothing: antialiased;
								position:absolute;
								right:15px;
								transition:.25s transform ease-in-out;
							}
	
						}
						
						
						&.open>a {
				
								&:after {
									content: "\f105";
									font: normal normal normal 14px/1 FontAwesome;
								    font-size: inherit;
								    text-rendering: auto;
								    -webkit-font-smoothing: antialiased;
								    position: absolute;
								    right: 15px;
								    transform:rotate(90deg);
								}
							
						}
						
						
						.dropdown-menu {
							padding:0;
							border-top: 1px solid $white;
							background:$gold;
							
							li {
								background:$gold;
								a {
									font-size:18px;
									padding:10px;
									color:$maroon;
									background:$gold;
									
									&:hover {
										color:$red;
										background: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	
	#homeCarousel {
		.carousel-indicators {
		    position:relative;
		    width:auto;
		    max-width:none;
		    margin:auto;
		    bottom:0;
		    padding:10px 0;
		}
		
		h2, h3 {
			padding:0 10px;
		}
	}	
	
	#mobileCaseCarousel {
		text-align: center;
	    font-size: 12px;
	    line-height: 17px;
	    
	    strong {
		    font-size: 36px;
		    display: table;
		    clear: both;
		    margin: auto;
		    padding-bottom: 5px;
	    }
	}
	
	.overlay-nav {
		position:fixed;
		background:rgba(0,0,0,0.75);
		width:100%;
		height:100%;
		display:none;
		z-index:998;
	}
	
	.show-hide {
		display:block;
	}
	
		.circle-points {
			.homepage-service-button {
				width:33%;
				font-size:15px;
				
				.homepage-service-circle {
					width:100px;
					height:100px;
					border:7px solid #36180d;
					margin-bottom:5px;
				} 

				&:nth-child(4n) {
					width:40%;
					text-align: center;
					margin-left:12.5%;
				}
				
				&:nth-child(5n) {
					width:30%;
					text-align: center;
					margin-right:4.5%;
				}

			}
		}
		
		/* Homepage Service Buttons */

		.circle-points {
			margin:50px auto;
			
			
			.homepage-service-button	{
				display: inline-block;
			    margin: 0px auto;
			    width:33%;
			    height: 230px;
			    text-align: center;
			    font-size: 20px;
			    line-height: 25px;
			    font-family: 'Domine', 'Times New Roman';
			    font-weight: 700;
			    color: #36180d;
			    text-decoration: none;
			    cursor: pointer;
			    
			    a {
				   	font-size: 20px;
				    line-height: 25px;
				    font-family: 'Domine', 'Times New Roman';
				    font-weight: 700;
				    color: #36180d;
				    cursor: pointer;
				    
				    	&:hover #homepage-service-circle-work {
					    	background-position: 10px -80px!important;
							background-color: #36180d!important;
						}
						
						&:hover #homepage-service-circle-ss {
					    	background-position: -100px -89px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-personal {
							background-position: -200px -89px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-auto {
					    	background-position: -400px -80px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-negligence {
				    		background-position: -295px -85px!important;
							background-color: #36180d!important;
						}
		
						
						&:hover .homepage-service-circle {
						    background-color: #36180d;
						    border-color: #e2d1b5;
						}
			    }
			    
			    .homepage-service-circle {
				        margin: 0px auto;
					    display: inline-block;
					    width: 150px!important;
					    height: 150px!important;
					    -moz-border-radius: 74px;
					    -webkit-border-radius: 74px;
					    border-radius: 74px;
					    overflow:hidden;
					    border: 20px solid #36180d;
					    background-repeat: no-repeat;
					    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    cursor: pointer;
					    -webkit-transition: all 300ms ease-in-out;
					    -moz-transition: all 300ms ease-in-out;
					    -ms-transition: all 300ms ease-in-out;
					    -o-transition: all 300ms ease-in-out;
					    transition: all 300ms ease-in-out;
					    
					    &:hover {
						    border-color: #e2d1b5;
					    }
					    
		
			    }
				
			}
			
			#homepage-service-circle-work, #homepage-service-circle-ss, #homepage-service-circle-personal, #homepage-service-circle-auto, #homepage-service-circle-negligence {
					    background: url(../images/sprites.png)#e2d1b5 no-repeat!important;
					}
			
			
			#homepage-service-circle-work {
		    	background-position: 10px 20px!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
			    	background-position: 10px -80px!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-ss {
			    	background-position: -100px 11px!important;
					width: 110px;
					height: 110px;
				&:hover {
			    	background-position: -100px -89px!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-personal {
			    background-position: -200px 11px!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
					background-position: -200px -89px!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-auto {
			   	background-position: -400px 20px!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
			    	background-position: -400px -80px!important;
					background-color: #36180d!important;
				}
			}
			
			
			#homepage-service-circle-negligence {
			    background-position: -295px 15px!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
			    		background-position: -295px -85px!important;
						background-color: #36180d!important;
				}
			}
			
		}
		
		.consult-activate {
			margin-top:-125px;
		}
			
	.collapse.in {
		display:table!important;
		border:0;
	}
	
	
	
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
	.consult-activate {
		margin-top:-165px!important;
	}

 }


@media screen and (max-width:480px) {
	
	.panel-default .panel-heading .panel-title a {
		font-size:24px;
		line-height: 20px;
	}
	
	.p-container {
		padding-right:20px;
		padding-left:20px;
	}
	.site-logo {
		max-width:270px;
		display:table;
	}
	
	.sub-headline {
		font-size:13px;
		padding-top:3px;
	}
	
	.if-you {
		span {
			font-size:13px;
			text-align: center;
			line-height:21px;
			padding:25px 0;
			display:table;
		}
		
		a {
			color:$red;
			font-weight:bold;
		}
	}
	
	p {
		font-size:13px!important;
		line-height:19px!important;
	}
	
	.practice-start-box {
		.practice-contact {
			font-size:22px;
		}
	}
	
	.contact-start {
		h2 {
			font-size: 22px;
		    line-height: 26px;
			
		}
	}

	
	.test-box, .team-box {
		h2 {
			font-size: 22px;
		    line-height: 26px;
		    margin-top: 12px;
		}
		
		p {
			font-size: 13px;
			line-height: 19px;
		}
	}	
	
	.test-box {
		h2 {
			font-size:32px;
			line-height:32px;
		}
	}	
	
	
	.resource-box {
		h3 {
			a {
				font-size:13px;
			} 
		}
		
		ul, li {
			font-size:13px;
		}
	}
	

	
	#homepage-service-circle-work {
    	background-position: 10px 20px!important;
		width: 100px;
		height: 100px;
    	
		&:hover {
	    	background-position: 10px -80px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-ss {
	    	background-position: -100px 11px!important;
			width: 100px;
			height: 100px;
    	
		&:hover {
	    	background-position: -100px -89px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-personal {
	    background-position: -200px 11px!important;
		width: 100px;
		height: 100px;
    	
		&:hover {
			background-position: -200px -89px!important;
			background-color: #36180d!important;
		}
	}
	
	#homepage-service-circle-auto {
	   	background-position: -400px 20px!important;
		width: 100px;
		height: 100px;
    	
		&:hover {
	    	background-position: -400px -80px!important;
			background-color: #36180d!important;
		}
	}
	
	
	#homepage-service-circle-negligence {
	    background-position: -295px 15px!important;
		width: 100px;
		height: 100px;
    	
		&:hover {
	    		background-position: -295px -85px!important;
				background-color: #36180d!important;
		}
	}	
	
	
		.circle-points {
		.homepage-service-button {
			.homepage-service-circle {
				width:100px!important;
				height:100px!important;
				overflow: hidden;
			}
		}
	}
	
	
	.site-footer {
		p,em {
			font-size: 9px!important;
			line-height: 12px!important;
		}
	}
	
	.awards-honors {
		h2 {
			font-size:25px;
			
		}
	}
	
	.no-pad-right-mobile {
		padding-right:0;
	}
	

	
	.team-box {
		margin:25px 0; 
		img {
			display:block;
			width:100%;
		}
		
		h2 {
		    font-size: 22px;
		    line-height: 30px;
		    margin-top:0;
	    }
	    
	      	a {
				
		        font-size:11px;
		        padding-top:15px;
		        line-height:19px;
		        display:table;
		        margin-top:15px;
			}
	    
	    h3 {
	        font-size:11px;
	        line-height:19px;
	        
	       a {
				
		        font-size:11px;
		        line-height:19px;
		        margin-top:0;
		        display:inline;
			}

	    }
	    
	  
	    
	    p {
		    font-size:13px;
		    line-height:19px;
	    }



    }
	
	
	.mobile-number-larger {
		font-size:13px;
	}
	
	.panel-default {
		
		.panel-collapse {
			.panel-body {
			    font-size: 13px;
			    line-height: 19px;
				
			}
		}
	}
	
	
	.practice-area {
		h2 {
			font-size: 26px; 
		}
		
		h3 {
			    font-size: 18px;
		}
		
		p {
		    font-size: 13px!important;
		}
	
		
		img {
			width:100%;
		}
		
		
			
		a {
			img {
				display: table;
				margin:30px 0 60px!important;
		    }
			
		}
	}
	
	/* Homepage Service Buttons */

		.circle-points {
			margin:50px auto;
			
			
			.homepage-service-button	{
				display: inline-block;
			    margin: 0px auto;
			    width:33%;
			    height: 230px;
			    text-align: center;
			    font-size: 20px;
			    line-height: 25px;
			    font-family: 'Domine', 'Times New Roman';
			    font-weight: 700;
			    color: #36180d;
			    text-decoration: none;
			    cursor: pointer;
			    
			    a {
				   	font-size: 20px;
				    line-height: 25px;
				    font-family: 'Domine', 'Times New Roman';
				    font-weight: 700;
				    color: #36180d;
				    cursor: pointer;
				    
				    	&:hover #homepage-service-circle-work {
							background-position: 10px -55px!important;
							background-color: #36180d!important;
						}
						
						&:hover #homepage-service-circle-ss {
					    	background-position: -68px -58px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-personal {
							background-position: -135px -55px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-auto {
			   	background-position: -270px -50px!important;
							background-color: #36180d!important;
						}
		
		
						&:hover #homepage-service-circle-negligence {
					background-position: -200px -55px!important;
					background-color: #36180d!important;
						}
		
						
						&:hover .homepage-service-circle {
						    background-color: #36180d;
						    border-color: #e2d1b5;
						}
			    }
			    
			    .homepage-service-circle {
				        margin: 0px auto;
					    display: inline-block;
					    width: 100px!important;
					    height: 100px!important;
					    -moz-border-radius: 74px;
					    -webkit-border-radius: 74px;
					    border-radius: 74px;
					    overflow:hidden;
					    border: 10px solid #36180d;
					    background-repeat: no-repeat;
					    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
					    margin-bottom: 20px;
					    cursor: pointer;
					    -webkit-transition: all 300ms ease-in-out;
					    -moz-transition: all 300ms ease-in-out;
					    -ms-transition: all 300ms ease-in-out;
					    -o-transition: all 300ms ease-in-out;
					    transition: all 300ms ease-in-out;
					    
					    &:hover {
						    border-color: #e2d1b5;
					    }
					    
		
			    }
				
			}
			
			#homepage-service-circle-work, #homepage-service-circle-ss, #homepage-service-circle-personal, #homepage-service-circle-auto, #homepage-service-circle-negligence {
					    background: url(../images/sprites.png)#e2d1b5 no-repeat!important;
					}
			
			
			#homepage-service-circle-work {
		    	background-position: 10px 15px!important;
					    background-size:400%!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
			    	background-position: 10px -55px!important;
					    background-size:400%!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-ss {
			    	background-position: -68px 11px!important;
					    background-size:400%!important;
					width: 110px;
					height: 110px;
				&:hover {
			    	background-position: -68px -55px!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-personal {
			    background-position: -135px 11px!important;
					    background-size:400%!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
					background-position: -135px -55px!important;
					background-color: #36180d!important;
				}
			}
			
			#homepage-service-circle-auto {
			   	background-position: -270px 20px!important;
					    background-size:400%!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
			    	background-position: -270px -55px!important;
					background-color: #36180d!important;
				}
			}
			
			
			#homepage-service-circle-negligence {
			    background-position: -200px 11px!important;
					    background-size:400%!important;
				width: 110px;
				height: 110px;
		    	
				&:hover {
					background-position: -200px -55px!important;
					background-color: #36180d!important;
				}
			}
			
		}
	
	
	
	.circle-points {
		padding:0 30px;	
		
		.homepage-service-button {
			a {
				font-size:13px;
				line-height:19px;
			}
		}
	}
	
	#homeCarousel .carousel-caption {
		height:140px;
	}
	
	/*This could break something*/
	
	.consult-activate {
		margin-top:-165px;
	}
}

@media screen and (max-width:320px) {
	
	.consult-activate {
		margin-top:-180px;
	}
	.consultation-form {
		margin-top:-200px; 
		#consultation-name {
			margin-top:0;
		}
		
		#title-bar {
			font-size:14px;
		}
		
		#consultation-office {
			.wpcf7-list-item label {
				font-size:11px;
			}
		}
		
		.form-control {
			margin:5px 0;
			height:35px;
			line-height:35px;
		}
		
		.radio-select {
			padding:5px 0;
		}
		
		#consultation-case {
			height:100px;
		}
	}
	
	.circle-points {
		padding:0;
		
		.homepage-service-button {
			a {
				font-size:13px;
				line-height:19px;
			}
		}
	}
	
	
}



@media screen and (min-width:1281px) and (max-width: 1300px) {
	.main-width {
		width:100%;
		max-width:1170px;
	}
	
	.sub-main-width {
		width:100%;
		max-width:1050px;
	}
	
	.navbar-default {
		.menu-main-menu-container {
			.navbar-nav {
				max-width:1170px;
			}
		}
	}
	
	
	.consultation-form {
		.form-control  {
			height:40px;
			line-height:40px;		
		}
		
		#consultation-case {
			height:150px;
		}
	}
	
	
	

	
}

@media screen and (min-width: 1301px) {
	.main-width {
		width:100%;
		max-width:1280px;
	}
	
	.sub-main-width {
		width:100%;
		max-width:1050px;
	}
	
	.navbar-default {
		.menu-main-menu-container {
			.navbar-nav {
				max-width:1280px;
			}
		}
	}
	
	
	.site-footer {
		
		em {
			max-width:1280px;
		}
	}
	
	
	#homeCarousel {
		.carousel-caption {
		    max-width:1280px;
		}
	}
	

}

@media screen and (min-width:1201px) and (max-width:1280px) {
	.consultation-form {
		.form-control  {
			height:40px;
			line-height:40px;		
		}
		
		#consultation-case {
			height:150px;
		}
	}
}


@media screen and (min-width: 1201px) {
	.fixed-consult-form {
		position:fixed;
		top:202px;
		right:50%;
		margin-right:-640px;
		max-height:620px;
		z-index:99;
	}
	
	.close-consult {
		display:none;
	}
	
	h1 {
		font-size:40px;
	}
	
}

@media screen and (min-width:769px) and (max-width:880px) {
	.navbar-default {
		.menu-main-menu-container {
			.navbar-nav {
				li {
					a {
						font-size:16px;			
					}
				}
			}
		}
	}
}

@media screen and (min-width:769px) {

		.modal-dialog {
		    width: 800px;
		    margin: 30px auto;
		}
		
			ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        }
}





